body
{
	background-color:#7f7556;
}
.buttons{
	display: flex;
	font-size: 30px;
	width: 100%;
	text-align: center;
}
.buttons a{
	border-width: 1px;
	border-style: outset;
	width: 25%;
	text-decoration: none;
	color: black;
}
.buttons a:hover{
	transition: 0.1s;
	transform: scale(0.9);
}
.text
{
	width: 90%;
	margin-left: 5%;
	font-size: 20px;	
}
.img
{
	width: 100%;
}
 .img img
 {
 	margin-top: 1%;
 	width: 33%;
 	height: 300px;
 }
 hr
 {
 	color: black;
 }